/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
    padding-top: 35px;
}

/* Styles for the input */
div.ReactTags__tagInput {
    position: absolute;
    top: 0;
    left: 0;

    width: 192px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #dcdbdc;
    border-radius: 3px;
    padding-left: 15px;
    background-color: #fff;
    box-sizing: border-box;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: #d8d8d8;
    font-size: 14px;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    margin: 5px 5px 5px 0;
    cursor: move;
    border-radius: 20px;
}
div.ReactTags__selected a.ReactTags__remove {
    background-color: #9b9a9b;
    border-radius: 99px;
    width: 15px;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
    cursor: pointer;
    margin-left: 5px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 1;
}
div.ReactTags__suggestions ul {
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
